{% extends "core/base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" class="img-fluid rounded border border-1"alt="{{ product.name }}">
        </div>

        <div class="col-md-6 d-flex flex-column">
            <h2 class="mb-3">{{ product.name }}</h2>
            <p class="text-muted">{{ product.description }}</p>
            
            <h4 class="text my-3"><strong>{{ product.price }} $</strong></h4>

            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add to cart</button>
            </form> 
            
            <div class="mt-4">
                <p><strong>Category:</strong>
                    <a href="{{ product.category.get_absolute_url }}" class="text-dark">{{ product.category.name }}</a>
                </p>
                <p><strong>Availability:</strong> {% if product.available %}In stock{% else %}Out of stock{% endif %}</p>
            </div>
        </div>
    </div>

    {% if related_products %}
        <div class="related-products mt-5">
            <h2>Simular products</h2>
            <div class="row">
                {% for product in related_products %}
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark"> {{ product.name }}</a>
                                </h5>
                                <p class="card-text">{{ product.price }} $</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
</div>
{% endblock content %}